@import url(/css/common.css);

body {
  font-optical-sizing: auto;
  font-style: normal;
  color: #7e665e;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title {
  font-weight: bold;
  color: rgb(126, 102, 94);
  text-align: center;
  font-size: 48px;
  text-decoration: none;
  margin-bottom: 1px;
}

#navBar {
  margin: 10px auto;
  background-color: #E6DAD7;
  width: 70%;
  height: 40px;
  border-radius: 16px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: bold;
  font-size: 24px;
  padding: 8px 30px;
}

#navBar img {
  position: relative;
  right: 10px;
  top: 2px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: rgb(126, 102, 94);
}

#make_a_friend {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(164, 137, 126);
  border-radius: 25px;
  width: 320px;
  height: 25px;
  margin: 15px auto;
  padding-bottom: 19px;
}

#make_a_friend h2 {
  color: rgb(248, 248, 248);
  margin-top: 15px;
  font-size: 1.7rem;
}

#submit {
  background-color: #E6DAD7;
  width: 65%;
  border-radius: 40px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 630px;
}

div#form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
  padding: 20px;
  position: relative;
  top: -20px;
}

table {
  align-items: center;
  position: relative;
  top: 23px;
  left: -45px;
}

tr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#submit h3 {
  text-align: left;
  font-size: 2rem;
  margin-left: 50px;
  margin-top: 15px;
  position: relative;
}

td.inpName {
  font-size: 24px;
  color: rgb(126, 102, 94);
}

input,
select {
  border: 1.5px solid #A9887C;
  border-radius: 40px;
  height: 40px;
  width: 250px;
  color: #ac948e;
  appearance: none;
  font-size: 1.2rem;
  margin-bottom: 40px;
  padding-left: 20px;
  position: relative;
  right: -65px;
}

input::placeholder {
  color: #ac948e;
}

input {
  width: 280px;
  height: 34px;
  padding-bottom: 4px;
}

#form select {
  background-image: url(../images/arrow-d-acc.svg);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position-x: 95%;
  background-position-y: center;
  width: 305px;
  padding-left: 20px;
  align-items: center;
  padding-bottom: 4px;
}

textarea {
  width: 380px;
  height: 330px;
  border: 1.5px solid #A9887C;
  border-radius: 35px;
  color: rgb(126, 102, 94);
  padding: 20px;
  font-size: 1rem;
  position: relative;
  top: 25px;
  right: -45px;
}

#agreement {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 50px;
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: rgb(126, 102, 94);
}

input[type="checkbox"] {
  width: 23px;
  height: 23px;
  border-radius: 90%;
  padding-left: 10px;
  background-color: white;
  position: relative;
  left: 20px;
  top: 45px;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: rgb(126, 102, 94);
}

submit{
  background-color: #CCAFA5;
  border: none  ;
  border-radius: 20px;
  color: rgb(103, 84, 77);
  position: relative;
  right: 55px;
  top: 20px;
  width: 270px;
  height: 40px;
  text-align: center;
  cursor: pointer;
  font-size: 1.5rem;
  align-items: center;
  padding-top: 3px;
}

submit:hover {
  background-color: rgb(164, 137, 126);
  color: #CCAFA5;
}

footer {
  background-color: #E6DAD7;
  border-radius: 40px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  width: 81.5%;
  font-size: 20px;
  height: 320px;
  padding: 13px;
}

#topFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 10px;
  align-items: center;
  max-height: max-content;
}

#topFooter>div#leftSocial {
  background-color: #CCAFA5;
  border-radius: 20px;
  width: 368px;
  height: 176px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#rightSocial {
  display: flex;
  flex-direction: column;
}

#rightSocial>div.social {
  border-radius: 20px;
  background-color: #CCAFA5;
  width: 820px;
  height: 77px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 24px;
  align-items: center;
  margin: 10px 0;
}

.social img {
  margin: -5px 10px;
}

#leftSocial h1 {
  text-align: center;
  font-size: 50px;
  color: rgb(103, 84, 77);
}

#middleFooter {
  text-align: center;
  background-color: #CCAFA5;
  border-radius: 13px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 7px 10px;
  padding: 10px;
  align-items: center;
}

#bottomFooter {
  text-align: center;
  background-color: rgb(164, 137, 126);
  border-radius: 13px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 8px 10px;
  padding: 10px;
  color: #FFFFFF;
  align-items: center;
}

#bottomFooter p {
  margin: 0;
}

#middleFooter a {
  color: #7F655C;
}

#bottomFooter a {
  color: #FFFFFF;

}

footer a:hover {
  color: #f0efe7;
}

.navBar a:hover {
  color: rgb(66, 54, 50);
}

span#hello {
  font-weight: bold;
  font-size: 20px;
}

#hello i {
  font-size: 15px;
}