@import url('/css/common.css');

.h1 {
  font-size: 48px;
  line-height: 0px;
  font-weight: bold;
  text-decoration: none;

}

menu a {
  display: inline;
  font-size: 24px;
  line-height: 0px;
  font-weight: 700;
  text-transform: uppercase;
  justify-self: center;
  text-decoration: none;
}

a,
p {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
}

#confessions {
  column-gap: 20px;
}



header {
  width: 100%;
  text-align: center;
  align-self: center;
}


menu {
  display: flex;
  flex-direction: row;
  border-radius: 16px;
  padding: 15px 40px;
  background-color: var(--light-bg-color-2, #e6dad7);
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.card {
  box-sizing: border-box;
  break-inside: avoid;
  margin-bottom: 20px;
  padding: 20px 20px;
  border-radius: 40px;
  background: var(--light-bg-color-2, #e6dad7);
  width: 560px;
}

.start-end {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 32px;
}

#comment {
  position: relative;
  width: 42px;
}

#react {
  position: relative;
  width: 112px;
  align-items: center;
}

#react div {
  justify-items: center;
}

#comment img {
  position: absolute;
  left: 0px;
  top: 6px;
}

#react div:first-of-type {
  position: absolute;
  top: 6px;
  gap: 4px;
}

#comment p {
  position: absolute;
  right: 0px;
}

#react p {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0px;
}

.icon {
  width: 24px;
  height: 24px;
}

#game {
  width: 560px;
  height: 560px;
  border-radius: 40px;
  background: var(--light-bg-color-2, #e6dad7);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  margin-bottom: 20px;
}

#game * {
  z-index: 2;
}

main {
  columns: 2;
}

h3 {
    align-self: stretch;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
}

#score {
  text-align: right;
}

#game_interface_top,
#game_interface_bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px;
}

#game_interface_bottom {
  padding-block: 15px;
}

#game button {
  background: var(--light-game-white, #fff);
  border-radius: 8px;
  height: 32px;
  border-color: var(--light-game-white, #fff);
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#shoot,
#game_moving_left,
#game_moving_right {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}

#moving {
  display: flex;
  width: 92px;
  justify-content: space-between;
}

#shoot button {
  width: 128px;
}

#game img {
  position: absolute;
  z-index: 1;
}

.heart {
  width: 45.5px;
  height: 40px;
}

#cloud1 {
  top: 68px;
}

#cloud2 {
  left: 213px;
}

#cloud3 {
  left: 316px;
  top: 31px;
}

#bow {
  position: absolute;
  bottom: 0px;
  align-self: center;
}

footer {
  border-radius: 40px;
  gap: 16px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: var(--light-bg-color-2, #e6dad7);
}

footer div {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer #logo {
  width: 368px;
  height: 176px;
  background: var(--light-button, #ccafa5);
  border-radius: 20px;
}

footer #to_right p {
  display: flex;
  gap: 12px;
  height: 78 px;
  padding: 24px 60px;
  background: var(--light-button, #ccafa5);
  align-self: stretch;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}

#to_right {
  flex-direction: column;
  gap: 16px;
  flex: 1;
}

#footer_top {
  display: flex;
  gap: 16px;
}

#line {
  display: flex;
  padding: 10px 60px;
  justify-content: space-between;
  border-radius: 20px;
  background: var(--light-button, #ccafa5);
}

#dark {
  align-items: center;
  border-radius: 20px;
  background: var(--light-button-alt, #a9887c);
  padding: 10px 60px;
}

#dark * {
  color: var(--light-text-alt, #fff);
}

.arrow {
  width: 21px;
  height: 18px;
  z-index: 10;
}
